# Project: Rank Tweets by Kindness

**Sentiment Analysis**: Social media can be a great place to connect with others and share positive thoughts and experiences. However, it can also be a breeding ground for negativity and hate speech. This project aims to develop a system to rank tweets by kindness in order to promote more positive and supportive online interactions.

**Benefits:**

The proposed system has the potential to provide a number of benefits, including:

- Promoting more positive and supportive online interactions
- Reducing the spread of negativity and hate speech
- Helping people to find and connect with others who share their values
- Making social media a more enjoyable and welcoming place for everyone

**Tasks:**

The proposed system will use sentiment analysis to identify and rank tweets based on their level of kindness. This will be done by the following steps:

1. Read the `nice_words.txt` file into a list. This file will contain a list of words that are typically associated with kindness, such as "love," "compassion," and "gratitude."
1. Read the `tweets.txt` file into a tweets list. This file will contain a collection of tweets to be ranked.
1. Look at each of the tweets and count the number of nice words.
1. Sort the tweets in descending order based on the number of nice words, with the most kind tweet first.
1. Display the tweets, along with the count of nice words in each tweet.
1. Display the tweets, along with sentiment label using textblob library for sentiment analysis.**(Bonus)**

**import libraries**

In [23]:
import pandas as pd
from textblob import TextBlob

**reading the files**

In [3]:
with open('tweets.txt', 'r') as tweet:
    content_tweet = tweet.readlines()

with open('nice_words.txt', 'r') as kindness:
    content_kindness = kindness.read().splitlines()

In [13]:
#print content from tweets.txt file
content_tweet

['Grateful for the amazing people in my life who make it so wonderful\n',
 'The beautiful flowers were in full bloom and the sweet scent filled the air      a. The birds were singing merrily and the sun was shining brightly . It was a perfect day\n',
 'The kind and generous old man was always willing to help others . He was a role model for the entire community and he was loved by everyone\n',
 'The intelligent and talented young woman had a bright future ahead of her . She was passionate about her work and she was determined to make a difference in the world\n',
 'Sending out good vibes to everyone today! Have a beautiful day!']

In [9]:
lines = []

#for each tweet in the content tweet list strip and split by '.' then add to line[] list
for item in content_tweet:
    lines.extend([line.strip() for line in item.split('.')])

In [10]:
for line in lines:
    print(line)

Grateful for the amazing people in my life who make it so wonderful
The beautiful flowers were in full bloom and the sweet scent filled the air      a
The birds were singing merrily and the sun was shining brightly
It was a perfect day
The kind and generous old man was always willing to help others
He was a role model for the entire community and he was loved by everyone
The intelligent and talented young woman had a bright future ahead of her
She was passionate about her work and she was determined to make a difference in the world
Sending out good vibes to everyone today! Have a beautiful day!

In [12]:
#print words read from the kindness file 
content_kindness

['awesome',
 'beautiful',
 'brilliant',
 'caring',
 'charming',
 'clever',
 'courageous',
 'creative',
 'delightful',
 'excellent',
 'fantastic',
 'friendly',
 'generous',
 'gentle',
 'genuine',
 'glorious',
 'good',
 'great',
 'helpful',
 'honest',
 'intelligent',
 'kind',
 'loving',
 'marvelous',
 'neat',
 'noble',
 'outstanding',
 'perfect',
 'pleasant',
 'polite',
 'positive',
 'precious',
 'pretty',
 'proud',
 'qualified',
 'radiant',
 'reliable',
 'remarkable',
 'responsible',
 'respectful',
 'responsible',
 'safe',
 'satisfied',
 'secure',
 'sensible',
 'sensational',
 'sincere',
 'skillful',
 'smart',
 'splendid',
 'stunning',
 'superb',
 'talented',
 'terrific',
 'thoughtful',
 'tremendous',
 'trustworthy',
 'valuable',
 'wonderful',
 'zealous']

In [15]:
def nice_counter(line):
    counter = 0
    line_words = line.split(' ')
    for word in line_words:
        if word in content_kindness:
            counter+=1
    return counter

**store each line in a dictionary as key and the count of the nice words in that line its value**

In [16]:
#create dictionary
tweet_dic = dict()
#store lines and nice words counts in a dictionary {'tweet':'nice_word counts'}
for line in lines:
    tweet_dic[line] = nice_counter(line)

In [17]:
#print tweet dictionary
tweet_dic

{'Grateful for the amazing people in my life who make it so wonderful': 1,
 'The beautiful flowers were in full bloom and the sweet scent filled the air      a': 1,
 'The birds were singing merrily and the sun was shining brightly': 0,
 'It was a perfect day': 1,
 'The kind and generous old man was always willing to help others': 2,
 'He was a role model for the entire community and he was loved by everyone': 0,
 'The intelligent and talented young woman had a bright future ahead of her': 2,
 'She was passionate about her work and she was determined to make a difference in the world': 0,
 'Sending out good vibes to everyone today! Have a beautiful day!': 2}

In [18]:
rank_tweets=sorted(tweet_dic.items(), key=lambda item: item[1],reverse=True)
rank_tweets

[('The kind and generous old man was always willing to help others', 2),
 ('The intelligent and talented young woman had a bright future ahead of her',
  2),
 ('Sending out good vibes to everyone today! Have a beautiful day!', 2),
 ('Grateful for the amazing people in my life who make it so wonderful', 1),
 ('The beautiful flowers were in full bloom and the sweet scent filled the air      a',
  1),
 ('It was a perfect day', 1),
 ('The birds were singing merrily and the sun was shining brightly', 0),
 ('He was a role model for the entire community and he was loved by everyone',
  0),
 ('She was passionate about her work and she was determined to make a difference in the world',
  0)]

In [20]:
#create dataframe holds the rank_tweets
df = pd.DataFrame(rank_tweets)

**rename columns from 0 and 1 to `Tweet` and `Rank`**

In [27]:
df = df.rename(columns={0 : 'Tweet', 1: 'Rank'})
df

                                               Tweet  Rank label
0  The kind and generous old man was always willi...     2  None
1  The intelligent and talented young woman had a...     2  None
2  Sending out good vibes to everyone today! Have...     2  None
3  Grateful for the amazing people in my life who...     1  None
4  The beautiful flowers were in full bloom and t...     1  None
5                               It was a perfect day     1  None
6  The birds were singing merrily and the sun was...     0  None
7  He was a role model for the entire community a...     0  None
8  She was passionate about her work and she was ...     0  None

# Sentiment Analysis

**TextBlob is a Python library for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as sentiment analysis**

In [68]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 636.8/636.8 kB 2.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: nltk>=3.1 in /Users/rare/opt/anaconda3/lib/python3.9/site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/rare/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: click in /Users/rare/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in /Users/rare/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in /Users/rare/opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.64.1)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [69]:
 !python -m textblob.download_corpora

[nltk_data] Downloading package brown to /Users/rare/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package punkt to /Users/rare/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /Users/rare/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/rare/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package conll2000 to /Users/rare/nltk_data...
[nltk_data]   Unzipping corpora/conll2000.zip.
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /Users/rare/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
Finished.

**Add `label` column with None values as a start, this label will take the sentiment result for each row (or tweet)**

In [26]:
df['label'] = None
df

                                                   0  1 label
0  The kind and generous old man was always willi...  2  None
1  The intelligent and talented young woman had a...  2  None
2  Sending out good vibes to everyone today! Have...  2  None
3  Grateful for the amazing people in my life who...  1  None
4  The beautiful flowers were in full bloom and t...  1  None
5                               It was a perfect day  1  None
6  The birds were singing merrily and the sun was...  0  None
7  He was a role model for the entire community a...  0  None
8  She was passionate about her work and she was ...  0  None

- **create a list to store the sentiment labels of each tweet in the dataframe `df`**
- **create `blob` object**
- **use the blob object to call the`.sentiment.polarity` function and store the numeric value in the `sentiment_score`**
- **used chained conditional statements to decide the labels and append them to the `sentiment_list`**
- **add the `sentiment_list` as a column in the `df['label']` already existing column**

In [28]:
sentiment_labels = []
for tweet in df['Tweet']:
    # TextBlob object
    blob = TextBlob(tweet)
    sentiment_score = blob.sentiment.polarity

    if sentiment_score > 0:
        sentiment_labels.append("Positive")
    elif sentiment_score < 0:
        sentiment_labels.append("Negative")
    else:
        sentiment_labels.append("Neutral")
    
    
df['label'] = sentiment_labels

In [29]:
df

                                               Tweet  Rank     label
0  The kind and generous old man was always willi...     2  Positive
1  The intelligent and talented young woman had a...     2  Positive
2  Sending out good vibes to everyone today! Have...     2  Positive
3  Grateful for the amazing people in my life who...     1  Positive
4  The beautiful flowers were in full bloom and t...     1  Positive
5                               It was a perfect day     1  Positive
6  The birds were singing merrily and the sun was...     0  Positive
7  He was a role model for the entire community a...     0  Positive
8  She was passionate about her work and she was ...     0  Negative